{% extends 'base.html' %}

{% block title %}Article::Detail{% endblock title %}

{% block container %}

<h2>{{ article.title }}</h2>
<p>{{ article.created_at }}</p>
<p>작성자: {{ article.user }}</p>
<a href="{% url 'articles:like' article.pk %}">
  {% if user in article.liked_users.all %}
  <i class="fas fa-heart fa-lg" style="color: red"></i>
  {% else %}
  <i class="far fa-heart fa-lg" style="color: red"></i>
  {% endif %}
</a>
<span>{{ article.liked_users.all | length }}명이 이 글을 좋아합니다.</span>
<hr>
<p>{{ article.content }}</p>
<hr>

{% comment %} {% if user.is_authenticated %} {% endcomment %}
{% if article.user == request.user %}
<a href="{% url 'articles:update' article.pk %}">[Update]</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST">
  {% csrf_token %}
  <button class="btn-warning" type="submit">Delete</button>
</form>
<hr>
{% endif %}

{% for comment in comments %}
<span>{{ comment.pk }}. {{ comment.content }} by {{ comment.user }}</span>
{% if comment.user == request.user or article.user == request.user %}
<form action="{% url 'articles:comment_delete' comment.pk %}", method="POST">
  {% csrf_token %}
  <button class="btn btn-link" type="submit">Comment Delete</button>
</form>
<hr>
{% endif %}
{% endfor %}

{% if user.is_authenticated %}
<form action="{% url 'articles:comment_create' article.pk %}", method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn-warning" type="submit">Comment Create</button>
</form>
{% endif %}

<hr>
{% comment %} 컴포넌트 {% endcomment %}
{% include 'articles/_follow.html' %}

{% endblock container %}