<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
  <header>
    <h1>저희 페이지 오신걸 환영합니다.</h1>
    {% comment %} user 는 template 이 기본적으로 가지고 있는 정보 {% endcomment %}
    <p>
      <span>Hello, {{ user.username }}</span>
      <a href="{% url 'accounts:login' %}">[Login]</a>
      <a href="{% url 'accounts:logout' %}">[Logout]</a>
    </p>
    <a href="{% url 'articles:index' %}">[List]</a>
    <hr>
  </header>
  {% block container %}{% endblock container %}
</body>
</html>